<%= render "layouts/user_header" %>

<div class="welcome-container">
    <h1 style="text-align: center; color: #333;">タイピング仙人へようこそ！</h1>
    <p style="text-align: center; color: #555;">このサイトは画面に出てくる文字をタイプして、正確さと速度を競います。</p>
    <p style="text-align: center; color: #555;">ちょっとしたお喋り広場もあるので、交流したい人は是非参加してみてください。</p>
    <p style="text-align: center; color: #555;">君もタイピングをマスターして仙人になろう!!</p>
</div>