<%= render "layouts/user_header" %>

<h4>タイピング仙人へようこそ！<br>
このサイトは画面に出てくる文字をタイプして、正確さ、速度を競います。<br>
ちょっとしたお喋り広場もあるので交流したい人は是非参加してみてください。<br>
君もタイピングをマスターして仙人になろう!!</h4>

<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
</div>