<%= render 'layouts/admin_header' %>
<h1>管理者トップページ</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>一覧</h2>
      <table class="table">
        <thead>
          <tr class="table-secondary">
          <th>日時</th>
          <th>者</th>
          <th>個数</th>
          <th>ス</th>
    </div>
  </div>
</div>